# Project exclude paths
/1.project-assert-equals-not-equals-AND-null-not-null/target/
/2.project-lifecycle-methods/target/
/3.project-custom-display-name/target/
/4.project-assert-same-not-same-AND-true-false/target/
/5.project-assert-array-iterable-lines/target/
/6.project-assert-throws-and-timeouts/target/
/7.project-order-tests/target/
/8.project-unit-test-reports-and-code-coverage-reports-with-intellij/target/
/9.project-unit-test-reports-and-code-coverage-reports-with-maven/target/
/10.project-conditional-tests/target/
/11.fizzbuzz-project-basic/target/
/12.fizzbuzz-project-parameterized-tests/target/
/13.fizzbuzz-project-main-app/target/
/14.spring-boot-junit-assertions/target/
/15.spring-boot-unit-test/target/
/16.create-student-service-test/target/
/17.check-if-student-is-null-test/target/
/18.delete-student-service-test/target/
/19.get-gradebook-test/target/
/20.sql-annotation-get-gradebook-test/target/
/21.gradebookcontroller-test-iterable-equals/target/
/22.gradebookcontroller-add-mvc-test/target/
/23.create-student-http-post-request-test/target/
/24.create-student-http-request-when-added/target/
/25.update-index-html-to-handle-create-and-get-students/target/
/26.delete-student-http-added/target/
/27.delete-student-http-error-page/target/
/28.create-grade-service-passed-for-math-grades/target/
/29.create-grade-service-passed-for-science-grades/target/
/30.create-grade-service-passed-for-history-grades/target/
/31.create-grade-service-returns-false/target/
/32.add-math-science-history-grades-to-before-and-after/target/
/33.edit-create-grade-service-to-use-collections/target/
/34.delete-grade-math-service-only/target/
/36.delete-grade-science-and-history/target/
/37.delete-grade-science-return-student-id-zero/target/
/38.enhance-delete-student-service-to-now-delete-grades/target/
/39.student-information-service-test-pass/target/
/40.student-information-return-null-for-invalid-student-id/target/
/41.setup-sql-scripts-in-application-props-file-and-student-service/target/
/42.setup-sql-scripts-for-gradebook-controller-test/target/
/43.enhance-student-information-method-on-grade-book-controller/target/
/44.create-grade-on-grade-book-controller/target/
/45.enhance-and-refactor-configure-student-information-model/target/
/46.create-a-valid-grade-http-request-student-does-not-exist/target/
/47.create-an-invalid-grade-http-request-grade-type-does-not-exist/target/
/48.delete-a-valid-grade-http-request/target/
/49.delete-a-valid-grade-http-request-grade-id-does-not-exist/target/
/50.delete-a-non-valid-grade-http-request/target/
/51.update-student-information-thymeleaf-template-to-use-dynamic-data/target/
/52.create-application-test-properties-file/target/
/53.update-app-to-connect-to-mysql/target/
/54.final/target/